<app-navbar></app-navbar>
<div class="container">
  <div class="header">
    <h1>Registration</h1>
    <h4>Trainee</h4>
  </div>
  <div class="image-registrationdetails">
    <div class="image">
      <img Src="assets/trainee-registration.png" alt="trainer-registration-image">
    </div>
    <div class="registrationdetails">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <!--      <label>First Name</label>-->
          <mat-form-field>
            <mat-icon class="my-icon" matPrefix>perm_identity</mat-icon>
            <mat-label>Enter Firstname</mat-label>
            <input [(ngModel)]="trainee.firstName" class="form-control" id="firstname"
                   matInput name="firstname">
          </mat-form-field>

          <!--      <label>Last Name</label>-->
          <mat-form-field>
            <mat-icon class="my-icon" matPrefix>perm_identity</mat-icon>
            <mat-label>Enter Lastname</mat-label>
            <input [(ngModel)]="trainee.lastName" class="form-control" id="lastName"
                   matInput name="lastName">
          </mat-form-field>

          <!--      <label>Email</label>-->
          <mat-form-field>
            <mat-icon class="my-icon" matPrefix>email</mat-icon>
            <mat-label>Enter Email</mat-label>
            <input [(ngModel)]="trainee.email" class="form-control" id="email"
                   matInput name="email">
          </mat-form-field>

          <!--      <label>Address</label>-->
          <mat-form-field class="example-full-width">
            <mat-icon class="my-icon" matPrefix>home</mat-icon>
            <mat-label>Enter your full address</mat-label>
            <textarea [(ngModel)]="trainee.address" class="form-control" id="address"
                      matInput name="address"></textarea>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Date of Birth (optional)</mat-label>
            <input [(ngModel)]="trainee.dateOfBirth" [matDatepicker]="datePicker" class="form-control" id="dateOfBirth"
                   matInput name="dateOfBirth">
            <mat-datepicker-toggle [for]="datePicker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #datePicker></mat-datepicker>
          </mat-form-field>

          <button color="primary" mat-raised-button>submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
