<app-navbar></app-navbar>
<div class="container">
  <div class="header">
    <h3>Sign In</h3>
    <h5>Welcome back</h5>
  </div>
  <div class="login-form">
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <mat-form-field class="form-field">
        <mat-icon class="my-icon" matPrefix>perm_identity</mat-icon>
        <input formControlName="username" matInput name="username" placeholder="Username" type="text">
        <mat-hint *ngIf="username.touched && username.hasError('required')">Username is required</mat-hint>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-icon class="my-icon" matPrefix>lock</mat-icon>
        <input formControlName="password" matInput name="password" placeholder="Password" type="password">
        <mat-hint *ngIf="password.touched && password.hasError('required')">Password is required</mat-hint>
      </mat-form-field>

      <mat-radio-group [(ngModel)]="selectedUserType" [ngModelOptions]="{standalone: true}" class="user-type">
        <mat-radio-button value="trainee">Trainee</mat-radio-button>
        <mat-radio-button value="trainer">Trainer</mat-radio-button>
      </mat-radio-group>

      <button [disabled]="loginForm.invalid" class="sign-in-button" color="primary" mat-raised-button type="submit">Sign
        In
      </button>
    </form>
  </div>

  <div class="bottom">
    <h5>or</h5>
    <div class="Sign-Up">
      <h5>Don't have an account?</h5>
      <h5><a class="sign-up-link" routerLink="/joinUs">Sign Up</a></h5>
    </div>
  </div>
</div>
