<div class="container">
  <mat-toolbar color="primary">
    <button class="example-icon" mat-icon-button>
      <mat-icon>fitbit</mat-icon>
    </button>
    <span>Gym-Portal</span>
    <span class="spacer"></span>
    <div class="menu-items">
      <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
      <button mat-button routerLink="/signIn">Sign In</button>
      <button color="primary" mat-raised-button routerLink="/joinUs">Join Us</button>
    </div>
  </mat-toolbar>
</div>



