<app-navbar></app-navbar>
<div class="container">
  <div class="header">
    <h1>Join Us</h1>
    <p>Welcome to our fitness community. Choose your path below:</p>
  </div>
  <div class="join-us-content">
    <div class="join-us-as-trainer">
      <mat-card class="example-card trainer-card">
        <mat-card-content class="content">
          <div class="text">
            <h2>Join as a Trainer</h2>
            <p>Join us as a trainer and help others achieve their fitness goals.</p>
            <button color="primary" mat-raised-button routerLink="/home/trainerRegistration">Join Now</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="join-us-as-trainee">
      <mat-card class="example-card trainee-card">
        <mat-card-content class="content">
          <div class="text">
            <h2>Join as a Trainee</h2>
            <p>Get trained by experienced fitness trainers. Join now and start your fitness journey.</p>
            <button color="primary" mat-raised-button routerLink="/home/traineeRegistration">Join Now</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
