<div class="home-container">
  <header class="header">
    <app-navbar></app-navbar>
  </header>

  <section class="hero">
    <div class="hero-content">
      <h1>Welcome to Our Gym</h1>
      <p>Your Journey to a Healthier You Begins Here</p>
      <a class="cta-button" routerLink="">Explore Our Services</a>
    </div>
  </section>

  <section class="motivation">
    <div class="motivation-content">
      <h2>Stay Inspired</h2>
      <p>"The only bad workout is the one that didn't happen." – Siddhu</p>
      <p>"Don't stop when you're tired; stop when you're done." – Marilyn Monroe</p>
    </div>
  </section>
</div>
