<app-navbar></app-navbar>
<div class="container">
  <div class="header">
    <h1>Registration</h1>
    <h4>Trainer</h4>
  </div>
  <div class="image-registrationdetails">
    <div class="image">
      <img alt="trainer-registration-image" src="../../../assets/gym-trainer-registration.jpg">
    </div>
    <form (ngSubmit)="onSubmit()" class="registrationdetails">
      <mat-form-field class="form-group">
        <mat-icon class="my-icon" matPrefix>perm_identity</mat-icon>
        <mat-label>Enter Firstname</mat-label>
        <input [(ngModel)]="trainer.firstName" id="firstName" matInput name="firstname" type="text">
      </mat-form-field>

      <mat-form-field class="form-group">
        <mat-icon class="my-icon" matPrefix>perm_identity</mat-icon>
        <mat-label>Enter Lastname</mat-label>
        <input [(ngModel)]="trainer.lastName" id="lastName" matInput name="lastName" type="text">
      </mat-form-field>

      <mat-form-field class="form-group">
        <mat-icon class="my-icon" matPrefix>email</mat-icon>
        <mat-label>Enter Email</mat-label>
        <input [(ngModel)]="trainer.email" id="email" matInput name="email" type="text">
      </mat-form-field>

      <mat-form-field class="form-group">
        <mat-icon class="my-icon" matPrefix>fitness_center</mat-icon>
        <mat-label>please select specialization</mat-label>
        <mat-select [(ngModel)]="trainer.specializationId" id="trainingType" name="trainingType">
          <mat-option *ngFor="let specialization of specializations" [value]="specialization.value">
            {{specialization.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button color="primary" mat-raised-button type="submit">Submit</button>
    </form>
  </div>
</div>
